# .bashrc

# User specific aliases and functions

alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'

# Source global definitions
if [ -f /etc/bashrc ]; then
	. /etc/bashrc
fi

export PATH="`ruby -e 'puts Gem.user_dir'`/bin:$PATH"
export PATH="`ruby -e 'puts Gem.user_dir'`/gems/passenger-{{ passenger_version }}/bin:$PATH"